{
  "presets": [
    "@babel/preset-env",
    "@vue/babel-preset-jsx"
  ],
  "plugins": [
    "@babel/plugin-syntax-jsx",
    "@vue/babel-plugin-jsx",
    "@babel/plugin-proposal-decorators",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    [
      "./plugins/babel/babel-plugin-export-source-code.js",
      {
        "pattern": "\\.demo\\.jsx?$"
      }
    ]
  ]
}